.simple-button {
    background-image: linear-gradient(to top, grey, red);
    border: 1px solid white;
    border-radius: 7px;
    padding: 7px 16px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  
}

.simple-button:focus {
    outline: none;
}