body {
    margin: 0;
    padding: 0;
    font-family: Oswald, serif;
}

.app-header {
    background-image: url('/assets/images/header.jpg');
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    align-items: center;
    display: flex;
    height: 35vh;
    width: 100%;

}

.app-footer {
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.assignments-holder {
    justify-content: space-between;
    padding: 10px 30px;
    display: flex;
}

.first-column,
.second-column {
    font-weight: bold;


    div {
        font-size: 14px;
        line-height: 24px;
    }
}

.no-loaded {
    font-size: 24px;
}